@import "../abstracts/mixins";

.nav {
  position: fixed !important;
  top:0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10rem;
  // background-color:rgba(92, 74, 74, 0.226);
  padding: 2rem 4rem;
  border-radius: 1rem;

  @include respond(phone) {
    margin: 0 0rem;
    margin: 0 auto;
    position: relative;
  
    background-color: transparent;
  
    width: 80%;
    width: 100%;
    position: absolute;
    position: fixed !important;
   
    top: 0;
    left: 0;
    right: 0;
    z-index: 3333333333333333333333333333333333333;
  }
}

.ul {
  // width: 70%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center !important;

  margin: 0;
  padding: 0;
  align-items: center;

  gap: 4rem;
  @include respond(phone) {
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;

    opacity: 0;
    pointer-events: none;
    width: 100% !important;
    align-items: flex-start;

    gap: 4rem;

    &.active {
      transition: flex 0.6s linear;
      flex-direction: column;
      align-items: flex-start !important;
      opacity: 1;
      pointer-events: all;
      height: 100%;
    }
  }
}

.wraper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  // backdrop-filter: blur(7px); /* Adjust the blur amount */
  z-index: 1;
  // border-radius: 0.9rem;
  &.active {
    background: rgba(
      138,
      59,
      59,
      0.5
    ); /* Adjust the alpha value for transparency */

    backdrop-filter: blur(7px); /* Adjust the blur amount */
  }
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
  color: black;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
