$white: #ffffff;

$orange: #f47721;
$orange: #5585b5;

$cream: #fff8ec;

svg.fancy_arrow {
  width: 180px;
  width: 4rem;
  transition: opacity 0.8s linear;
  //   animation: bounce-arrow 4s 1s ease forwards infinite;

  &.left {
    transform: rotate(90deg);
  }
  &.right {
    transform: rotate(270deg);
  }
  g.arrow {
    fill: $orange;

    // box-shadow: 0px 0px 10px #333;
  }

  g.lights g.row {
    fill: lighten($orange, 20%);
    animation: illuminate-lights 2s ease forwards infinite;

    // &.active{
    //   animation: illuminate-lights 2s ease forwards infinite;
    // }

    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
    &:nth-child(4) {
      animation-delay: 0.3s;
    }
    &:nth-child(5) {
      animation-delay: 0.4s;
    }
    &:nth-child(6) {
      animation-delay: 0.5s;
    }
    &:nth-child(7) {
      animation-delay: 0.6s;
    }
    &:nth-child(8) {
      animation-delay: 0.7s;
    }
  }
}

@keyframes illuminate-lights {
  60% {
    fill: lighten($orange, 20%);
  }
  80% {
    fill: $white;
  }
  90% {
    fill: lighten($orange, 20%);
  }
}

@keyframes bounce-arrow {
  74% {
    margin-top: 0;
  }
  78% {
    margin-top: 16px;
  }
  82% {
    margin-top: 0;
  }
  86% {
    margin-top: 8px;
  }
  90% {
    margin-top: 0;
  }
}

.active {
  fill: lighten($orange, 20%);
  animation: illuminate-lights 2s ease forwards infinite;
}
.activeS {
  display: block;
}
