.buttongreen {
  background: #41a85f;
}

.button {
  cursor: pointer;
  border: 0;
  /* margin: 8px; */

  padding: 8px;
  border-radius: 3px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  background: #333;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  border: 0;
  outline: 0;
  font-size: 3rem;
  padding: 0.4rem 1rem;
  font-family: monospace;
  border-radius: 0.5rem;
  /* background-color: white; */
  background-color: #41a85f;
  background: #4c9173; 
  background-color: rgb(113, 154, 168);
  color: white;
  text-transform: capitalize;
}
.rightPagination {
  margin-left: 2rem;
}
.leftPagination {
  margin-right: 2rem;
}
.span {
  display: block;
  position: relative;
  z-index: 1;
}
.span::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  background: rgba(255, 255, 255, 0.7);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transform: scale(0);
}
.button:focus:not(:active) span::after {
  animation: circleGrow 0.3s linear;
}
@keyframes circleGrow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
